<div class="col s12 testimonial">
  <blockquote>
    <div class="quote"><%- text %></div>

    <div class="source">
      <div class="source-image">
        <img class="circle" src="<%= image %>">
      </div>
      <div class="source-person">
        <b> -- <%= name %><%= company %></b>
      </div>
      <!--# <p><b> -- <%= name %><%= company %></b></a></p>-->
    </div>
  </blockquote>
</div>
